<a href="https://colab.research.google.com/github/FabiolaSepulveda/DataScience/blob/main/Python%20para%20Data%20Science-primeros%20pasos/Desaf%C3%ADo5%3A%20%C2%A1Es%20hora%20de%20practicar!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Desafío5: ¡Es hora de practicar!**

Vamos practicar el uso de estructuras de datos, como listas y diccionarios, a través de algunas actividades. Ahora que estamos avanzando en el contenido, podemos hacer los desafíos más interesantes. ¡Para ello, trabajaremos con proyectos de código!

Primero, resolveremos algunos problemas para calentar y prepararnos para los proyectos.

**Entrenando la programación**

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas *sum()* y *len()*.

In [9]:
# Listas de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Cálculo del promedio
promedio = sum(gastos) / len(gastos)

# Mostrar el resultado
print(f"El promedio de gastos es: {promedio}")

El promedio de gastos es: 3144.222

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [10]:
# Listas de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Compras por encima de 3000
compras_mayores_3000 = 0
for gasto in gastos:
    if gasto > 3000:
        compras_mayores_3000 += 1

# Cacular el porcentaje
porcentaje_mayores_3000 = (compras_mayores_3000 / len(gastos)) * 100

print(f"Compras mayores a R$ 3000: {compras_mayores_3000}%")
print(f"Porcentaje sobre el total: {porcentaje_mayores_3000}")

Compras mayores a R$ 3000: 7%
Porcentaje sobre el total: 70.0

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [11]:
# Lista que almacena los númeroos
numeros = []

# Bucle que itera 5 veces
for i in range(5):
    numero = int(input(f"Ingrese el número {i + 1}: "))
    numeros.append(numero)

print("Lista de números:", numeros)

Ingrese el número 1: 10
Ingrese el número 2: 20
Ingrese el número 3: 30
Ingrese el número 4: 0
Ingrese el número 5: 50
Lista de números: [10, 20, 30, 0, 50]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [12]:
# Lista que almacena los númeroos
numeros = []

# Bucle que itera 5 veces
for i in range(5):
    numero = int(input(f"Ingrese el número {i + 1}: "))
    numeros.append(numero)

# Imprimir la ista en orden inverso
print(f"Lista de números invertidos: {numeros[::-1]}")

Ingrese el número 1: 10
Ingrese el número 2: 20
Ingrese el número 3: 30
Ingrese el número 4: 40
Ingrese el número 5: 50
Lista de números invertidos: [50, 40, 30, 20, 10]

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [13]:
# Ingresar un número
num = int(input("Ingrese un número: "))

# Lista para guardar o números primos
primos = []

# Verificar cada número desde 2 hasta el número ingresado
for i in range(2, num + 1):
  es_primo = True
  for j in range(2, i):
      if i % j == 0:
        es_primo = False
        break
  if es_primo:
        primos.append(i)

# Mostrar la lista de números primos
print("Números primos entre 1 y", num, "son:" , primos)

Ingrese un número: 10
Números primos entre 1 y 10 son: [2, 3, 5, 7]

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [14]:
" Solicitar al usuario día, mes y año "
dia = int(input("Ingrese el día: "))
mes = int(input("Ingrese el mes: "))
año = int(input("Ingrese el año: "))

# Verificar si el mes es válido
if mes < 1 or mes > 12:
    print("Mes inválido")
else:
  # Definir los días máximos de cada mes
  dias_maximos = {
      1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30,
      7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31
  }
  # Verificar i el año es bisiesto
  if (año % 4 == 0 and año % 100 != 0) or (año % 400 == 0):
    dias_maximos[2] = 29 # Febrero tiene 29 días en año bisiesto
  # V erificar si el día es váido para el mes dado
  if dia < 1 or dia > dias_maximos[mes]:
    print("Día inválido para el mes ingresado.")
  else:
    print("La fecha es válida")

Ingrese el día: 10
Ingrese el mes: 05
Ingrese el año: 1977
La fecha es válida

**Momento para los proyectos**

7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [15]:
# Lista de bacterias multiplicadas por día
bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

# Lista para almacenar los porcentajes de crecimiento
porcentajes_crecimiento = []

# Calcular el porcentaje de crecimiento para cada día (excepto el primero)
for i in range(1, len(bacterias)):
    crecimiento = 100 * (bacterias[i] - bacterias[i - 1]) / bacterias[i - 1]
    porcentajes_crecimiento.append(crecimiento)

# Mostrar los resultados
print("Procentajes de crecimiento de bacterías por día:")
print(porcentajes_crecimiento)

Procentajes de crecimiento de bacterías por día:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [16]:
# Inicializamos contadores
dulces = 0
amargos = 0

# Recoger 10 IDs de productos
for i in range(10):
    id_producto = int(input(f"Ingrese el ID del producto {i + 1}: "))
    #Verificar ssi el ID es par o impar
    if id_producto % 2 == 0:
        dulces += 1
    else:
        amargos += 1

# Mostrar los resultados
print(f"Cantidad de productos dulces: {dulces}")
print(f"Cantidad de productos amargos: {amargos}")

Ingrese el ID del producto 1: 1
Ingrese el ID del producto 2: 2
Ingrese el ID del producto 3: 6
Ingrese el ID del producto 4: 3
Ingrese el ID del producto 5: 4
Ingrese el ID del producto 6: 10
Ingrese el ID del producto 7: 15
Ingrese el ID del producto 8: 9
Ingrese el ID del producto 9: 12
Ingrese el ID del producto 10: 7
Cantidad de productos dulces: 5
Cantidad de productos amargos: 5

9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.

![image.png]()

In [17]:
# Respuesstas correctas dell examen
respuestas_correctas = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
# Variabe para contar la puntuación
puntuación = 0
# Pedir respuestas del estudiante
for i in range(10):
    respuesta = input(f"Ingrese la respuesta para la pregunta {i + 1}: ").upper()
    # Verificar si la respuesta es correcta
    if respuesta == respuestas_correctas[i]:
        puntuación += 1

# Mostrar la puntuación
print(f"\nPuntuación del estudiante: {puntuación} de 10")

Ingrese la respuesta para la pregunta 1: d
Ingrese la respuesta para la pregunta 2: c
Ingrese la respuesta para la pregunta 3: a
Ingrese la respuesta para la pregunta 4: b
Ingrese la respuesta para la pregunta 5: a
Ingrese la respuesta para la pregunta 6: c
Ingrese la respuesta para la pregunta 7: c
Ingrese la respuesta para la pregunta 8: a
Ingrese la respuesta para la pregunta 9: b
Ingrese la respuesta para la pregunta 10: b

Puntuación del estudiante: 5 de 10

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

In [18]:
# Lista de los meses
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

# Lista para almacenar las temperaturas
temperaturas = []
#Recoger las temperaturas de cada mes
for mes in meses:
    temp = float(input(f"Ingrese la temperatura media de {mes}: "))
    temperaturas.append(temp)

# Calcular el promedio anual
promedio_anual = sum(temperaturas) / len(temperaturas)

# Mostrar e proomedio anual
print(f"\nEl promedio anual de las temperaturas es: {promedio_anual} °C")

# Mostrar las temperaturas por encima del promedio y el mes correspondiente
print("\nMeses con temperaturas por encima del promedio anual:")
for i in range(len(temperaturas)):
    if temperaturas[i] > promedio_anual:
        print(f"{meses[i]}: {temperaturas[i]} °C")

Ingrese la temperatura media de Enero: 37
Ingrese la temperatura media de Febrero: 36
Ingrese la temperatura media de Marzo: 38
Ingrese la temperatura media de Abril: 30
Ingrese la temperatura media de Mayo: 28
Ingrese la temperatura media de Junio: 25
Ingrese la temperatura media de Julio: 20
Ingrese la temperatura media de Agosto: 18
Ingrese la temperatura media de Septiembre: 21
Ingrese la temperatura media de Octubre: 27
Ingrese la temperatura media de Noviembre: 30
Ingrese la temperatura media de Diciembre: 38

El promedio anual de las temperaturas es: 29.0 °C

Meses con temperaturas por encima del promedio anual:
Enero: 37.0 °C
Febrero: 36.0 °C
Marzo: 38.0 °C
Abril: 30.0 °C
Noviembre: 30.0 °C
Diciembre: 38.0 °C

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

Escribe un código que calcule el total de ventas y el producto más vendido.

In [19]:
# Diccionario con los datos de ventas
ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
# Calcular el total de ventas
total_ventas = 0
for venta in ventas.values():
    total_ventas += venta
# Encontrar el producto más vendido
producto_mas_vendido = ""
mayor_venta = 0
for producto, cantidad in ventas.items():
    if cantidad > mayor_venta:
        mayor_venta = cantidad
        producto_mas_vendido = producto

# Mostrar los resultados
print("Total de ventas: ", total_ventas)
print("Producto más vendido: ", producto_mas_vendido, "con", mayor_venta, "ventas")

Total de ventas:  920
Producto más vendido:  Producto A con 300 ventas

12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:

![image.png]()

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [20]:
# Diccionario con los votos por diseño
votos = {
    'Diseño 1': 1334,
    'Diseño 2': 982,
    'Diseño 3': 1751,
    'Diseño 4': 210,
    'Diseño 5': 1811
}
# Calcular total de votos
total_votos = 0
for cantidad in votos.values():
    total_votos += cantidad
# Determinar el diseño ganador
ganador = ""
votos_ganador = 0
for diseño, cantidad in votos.items():
    if cantidad > votos_ganador:
        votos_ganador = cantidad
        ganador = diseño
# Calcular porcenaje de votos del diseño ganador
porcentaje = (votos_ganador / total_votos) * 100

# Mostrar resultados
print("Disño ganador: ", ganador)
print(f"POrcentaje de voto: {porcentaje}%")

Disño ganador:  Diseño 5
POrcentaje de voto: 29.747043363994745%

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [23]:
# Lista de salarios
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Diccionario de salario: bonificación
bonificaciones = {}
total_bonificaciones = 0
bonificacion_minima = 200
contador_minimos = 0
bonificacion_mayor = 0

for salario in salarios:
    bonificación = salario * 0.10
    if bonificación < bonificacion_minima:
        bonificación = bonificacion_minima
        contador_minimos += 1
    bonificaciones[salario] = bonificación
    total_bonificaciones += bonificación
    if bonificación > bonificacion_mayor:
        bonificacion_mayor = bonificación

# Mostrar resultados
print("Bonificaciones: ", bonificaciones)
print(f"Gasto total en bonificaciones: {total_bonificaciones}")
print(f"Empleados que recibieron la bonificación mínima: {contador_minimos}")
print(f"Bonificación más alta otorgada: {bonificacion_mayor}")

Bonificaciones:  {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Gasto total en bonificaciones: 6087.8
Empleados que recibieron la bonificación mínima: 2
Bonificación más alta otorgada: 790.3000000000001

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas *sum()* y *len()*.

In [24]:
# Diccionario con los datos de especies por área
especies = {
    'Área Norte': [2819, 7236],
    'Área Este': [1440, 9492],
    'Área Sur': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
}
# Diccionario para almacenar los promedios
promedios = {}
mayor_promedio = 0
area_mayor_diversidad = ""
# Calcular el promedio de por área
for area in especies:
  lista = especies[area]
  promedio = sum(lista) / len(lista)
  promedios[area] = promedio

  if promedio > mayor_promedio:
    mayor_pomedio = promedio
    area_mayor_diversidad = area

# Mostrar promedio por área
for area, promedio in promedios.items():
  print(f"El {area} tiene un promedio de {promedio} especies")
# Mostrar área conn mayor diversidad
print(f"El Área con mayor diversidad biológica es: {area_mayor_diversidad}")

El Área Norte tiene un promedio de 5027.5 especies
El Área Este tiene un promedio de 5466.0 especies
El Área Sur tiene un promedio de 6732.5 especies
El Área Oeste tiene un promedio de 32067.0 especies
El Área Centro tiene un promedio de 33853.0 especies
El Área con mayor diversidad biológica es: Área Centro

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

![image.png]()

Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [25]:
#Datos proporcionadoos
edades = {
    'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}

#Calcular media por sector y acumular todas las edade
total_edades = []
print("Media ed edad por sector: ")
for sector, lista in edades.items():
    media_sector = sum(lista) / len(lista)
    print(f"{sector}: {media_sector} años")
    total_edades += lista #Unir todas las edades en una sola lista
#Calcular edad media general
media_general = sum(total_edades) / len(total_edades)
print(f"\nEdad media general: {media_general} años")
# Contar cuántas personas están porr encima de la media general
mayores_que_media = 0
for edad in total_edades:
    if edad > media_general:
        mayores_que_media += 1
print(f"Personas por encima de la edad media general: {mayores_que_media}")

Media ed edad por sector:
Sector A: 39.9 años
Sector B: 42.3 años
Sector C: 35.8 años
Sector D: 36.5 años

Edad media general: 38.625 años
Personas por encima de la edad media general: 18