<a href="https://colab.research.google.com/github/FabiolaSepulveda/DataScience/blob/main/Python%20para%20Data%20Science-primeros%20pasos/Desaf%C3%ADo4%3A%20%C2%A1Es%20hora%20de%20practicar!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Desafío4: ¡Es hora de practicar!**

Vamos practicar el uso de estructuras de repetición como el "while" y el "for" a partir de algunas actividades. Ahora que estamos avanzando en el contenido, podemos hacer los desafíos más interesantes. ¡Para ello, trabajaremos en proyectos de código!

Comencemos resolviendo algunos problemas para calentar y prepararnos para los proyectos.

**Entrenando la programación**

1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

In [10]:
# Solicitar dos números enteros de inicio y fin al usuario
inicio = int(input("Ingrese el primer número de entero: "))
fin = int(input("Ingrese el segungo número entero: "))

# Verificar si valor de inicio es menor que valor fin
if inicio < fin:
  for i in range(inicio + 1, fin):
    print(i)
elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else:
  print("Los números soon iguales.")

Ingrese el primer número de entero: 10
Ingrese el segungo número entero: 20
11
12
13
14
15
16
17
18
19

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

In [1]:
# Valores iniciales
colonia_A = 4
colonia_B = 10

# Tasas de crecimiento diarias
tasa_A = 0.03 # 3%
tasa_B = 0.015 # 1.5%

# Contador de días
dias = 0

# La condición del bucle terminará hasta que A sea mayor o igual que B
while colonia_A <= colonia_B:
  #Operador de asignación multiplicador
  colonia_A *= (1 + tasa_A)
  colonia_B *= (1 + tasa_B)
  #Contando los días en cada iteración
  dias += 1

print(f"La colonia A superará o igualará a la colonia B en {dias} días.")

La colonia A superará o igualará a la colonia B en 63 días.

3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

In [2]:
# Bucle para obtener las 15 notas
for i in range(1,16):
  nota = float(input(f"Ingrese la nota del usuario {i}: "))

  # Verificar si la nota está entre 0 y 5
  # De lo contrario, el bucle se  repetirá hasta que se ingrese un valor válido
  while nota < 0 or nota > 5:
    nota = float(input(f"Nota no válida, ingrese nuevamente la nota del usuario {i}: "))

print("Las notas ingresadas son válidas")

Ingrese la nota del usuario 1: 5.0
Ingrese la nota del usuario 2: 0
Ingrese la nota del usuario 3: 2
Ingrese la nota del usuario 4: 5.6
Nota no válida, ingrese nuevamente la nota del usuario 4: 4.6
Ingrese la nota del usuario 5: 3
Ingrese la nota del usuario 6: 1
Ingrese la nota del usuario 7: 4.2
Ingrese la nota del usuario 8: 1.9
Ingrese la nota del usuario 9: 4
Ingrese la nota del usuario 10: 5
Ingrese la nota del usuario 11: 2.1
Ingrese la nota del usuario 12: 2.0
Ingrese la nota del usuario 13: 3.3
Ingrese la nota del usuario 14: 3.5
Ingrese la nota del usuario 15: 4.66
Las notas ingresadas son válidas

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

In [3]:
# Solicitar la temperatura al usuario
temperatura = float(input("Ingrese la temperatura en grados Celsius: "))

# Iniciando una suma y un contador para el cálculo promedio de temperatura
suma = 0
contador = 0

while temperatura != -273:
  # Suma se irá actualizado al sumarse la temperatura a la variable correspondiente
  suma += temperatura
  contador += 1
  # Volver a solicitar la temperatura al usuario
  temperatura = float(input("Ingrese la temperatura en grados Celsius: "))

promedio = suma / contador
print(f"El promedio de las temperatura ingresadas es: {promedio} °C")

Ingrese la temperatura en grados Celsius: 36
Ingrese la temperatura en grados Celsius: 42
Ingrese la temperatura en grados Celsius: -273
El promedio de las temperatura ingresadas es: 39.0 °C

5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [4]:
# Solicitar al usuario un número entero
numero = int(input("Ingrese un número entero: "))

factorial = 1
i = numero

while i > 0:
  factorial *= i
  i -= 1

# Imprime el cálculo factorial
print(f"El factorial de {numero} es {factorial}")

Ingrese un número entero: 5
El factorial de 5 es 120

**Momento de los proyectos**

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:descendente.

![image.png]()

In [5]:
# Solicitar al usuario que ingrese un número de 1 al 10
numero = int(input("Ingrese un número del 1 al 10: "))

# Se genera la tabla de multiplicar
print(f"\nTabla de multiplicar del {numero}:")
for i in range(1, 11):
    resultado = numero * i
    print(f"{numero} x {i} = {resultado}")

Ingrese un número del 1 al 10: 5

Tabla de multiplicar del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

In [6]:
from re import escape
# Solicitar al usuario un número entero
numero = int(input("Ingrese un número entero: "))

# Verificar si el número es primo
es_primo = True

# Los números menores o iguales a 1 no son primos
if numero <= 1:
    es_primo = False
else:
  for i in range(2, numero):
    if numero % i == 0:
      es_primo = False
      break

# Muestra el resultado
if es_primo:
    print(f"{numero} es un número primo.")
else:
    print(f"{numero} no es un número primo.")

Ingrese un número entero: 5
5 es un número primo.

8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100]. La entrada de datos se detendrá al ingresar un número negativo.

In [7]:
print("Ingrese las edades de los clientes (ingrese un número negativo para terminar):")
# Contadores para los intervalos
intervalo_0_25 = 0
intervalo_26_50 = 0
intervalo_51_75 = 0
intervalo_76_100 = 0

while True:
  edad = int(input("Ingrese edad: "))
  if edad < 0:
    break   # Termina la entrada si se ingresa un número negativo
  if edad >= 0 and edad <= 25:
    intervalo_0_25 += 1
  elif edad >= 26 and edad <= 50:
    intervalo_26_50 += 1
  elif edad >= 51 and edad <= 75:
    intervalo_51_75 += 1
  elif edad >= 76 and edad <= 100:
    intervalo_76_100 += 1
  else:
    print	("Edad fuera de rango (0-100). No se contará")
#Muestra la distribución
print("\nDistribución de edades:")
print(f"[0-25]: {intervalo_0_25}")
print(f"[26-50]: {intervalo_26_50}")
print(f"[51-75]: {intervalo_51_75}")
print(f"[76-100]: {intervalo_76_100}")

Ingrese las edades de los clientes (ingrese un número negativo para terminar):
Ingrese edad: 25
Ingrese edad: 50
Ingrese edad: 75
Ingrese edad: 100
Ingrese edad: -10

Distribución de edades:
[0-25]: 1
[26-50]: 1
[51-75]: 1
[76-100]: 1

9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [8]:
# Inicializamos contadores
votos_c1 = 0
votos_c2 = 0
votos_c3 = 0
votos_c4 = 0
votos_nulos = 0
votos_en_blanco = 0

# Votación de 20 empleados
for i in range(1, 21):
  voto = int(input(f"Empleado {i}, ingrese su voto: "))
  if voto == 1:
    votos_c1 += 1
  elif voto == 2:
    votos_c2 += 1
  elif voto == 3:
    votos_c3 += 1
  elif voto == 4:
    votos_c4 += 1
  elif voto == 5:
    votos_nulos += 1
  elif voto == 6:
    votos_en_blanco += 1
  else:
    print("Voto inválido, no se contará.")
# Resultados
print("\nResultados:")
print(f"Candidato 1: {votos_c1}")
print(f"Candidato 2: {votos_c2}")
print(f"Candidato 3: {votos_c3}")
print(f"Candidato 4: {votos_c4}")
print(f"Votos nulos: {votos_nulos}")
print(f"Votos en blanco: {votos_en_blanco}")
print(f"Porcentaje de votos nulos: {(votos_nulos / 20 * 100)}")
print(f"Porcentaje de votos en blanco: {(votos_en_blanco / 20 * 100)}")

Empleado 1, ingrese su voto: 1
Empleado 2, ingrese su voto: 2
Empleado 3, ingrese su voto: 3
Empleado 4, ingrese su voto: 4
Empleado 5, ingrese su voto: 5
Empleado 6, ingrese su voto: 6
Empleado 7, ingrese su voto: 1
Empleado 8, ingrese su voto: 2
Empleado 9, ingrese su voto: 3
Empleado 10, ingrese su voto: 4
Empleado 11, ingrese su voto: 5
Empleado 12, ingrese su voto: 6
Empleado 13, ingrese su voto: 1
Empleado 14, ingrese su voto: 2
Empleado 15, ingrese su voto: 3
Empleado 16, ingrese su voto: 4
Empleado 17, ingrese su voto: 5
Empleado 18, ingrese su voto: 6
Empleado 19, ingrese su voto: 1
Empleado 20, ingrese su voto: 2

Resultados:
Candidato 1: 4
Candidato 2: 4
Candidato 3: 3
Candidato 4: 3
Votos nulos: 3
Votos en blanco: 3
Porcentaje de votos nulos: 15.0
Porcentaje de votos en blanco: 15.0